:root{
  --green: #B7CA81;
  --pink: #D08791;
}

/* centralizando */
html,body{
  height:100%;
  margin:0;
  display:flex;
  align-items:center;
  justify-content:center;
  background: linear-gradient(to bottom right, #DDE8E2AA, #DDD9C5AA);
  font-family:Arial, sans-serif;
}

/* corpo do Baby Yoda */
.baby-yoda{
  width: 6em;
  height: 4em;
  border-radius: 3em 3em 4.5em 4.5em;
  background: var(--green);
  position: relative;

  background-image:
  radial-gradient(circle at 1.5em, #fff, #fff .25em, transparent .3em),
  radial-gradient(circle at 1em, #000, #000 .9em, transparent 1em);
  background-position: 0.6em 0.35em, 0.7em 0.6em;
  background-size: 2.75em 2em, 2.75em 2em;
  background-repeat: repeat-x;
}

/* ORELHAS */
.baby-yoda::before,
.baby-yoda::after{
  content:'';
  position:absolute;
  top: 0.5em;
  display:block;
  width:5em;
  height:1.5em;
  background: var(--pink);
  border-top: solid .5em var(--green);
  margin: 0 -1em;
  z-index:1;
  border-radius: 2em 1em;
  transform: rotate(0deg);              /* estado inicial claro para animação funcionar */
  animation: orelhas 2s cubic-bezier(.8,.02,.2,.96) infinite alternate;
}

/* orelha esquerda */
.baby-yoda::before{
  --rotate: 20deg;                     
  transform-origin: center right;
  right: 100%;
  border-bottom-left-radius: 9em 4em;
}

/* orelha direita */
.baby-yoda::after{
  --rotate: -20deg;                   
  transform-origin: center left;
  left: 100%;
  border-bottom-right-radius: 9em 4em;
}

/* keyframes das orelhas */
@keyframes orelhas {
  to {
    transform: rotate(var(--rotate));
  }
}
